<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <display-name>Servlet Hello World</display-name>    
    
    <servlet>
        <servlet-name>helloWorldServlet</servlet-name>
        <servlet-class>by.bsu.restaurant.control.servlet.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloWorldServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <!-- 1 -->
    <servlet>
        <servlet-name>CookieExample</servlet-name>
        <servlet-class>by.bsu.restaurant.control.servlet.CookieExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieExample</servlet-name>
        <url-pattern>/hello1</url-pattern>
    </servlet-mapping>
 
 	<!-- 2 -->
    <servlet>
        <servlet-name>hello_world</servlet-name>
        <servlet-class>by.bsu.restaurant.control.servlet.hello_world</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello_world</servlet-name>
        <url-pattern>/hello2</url-pattern>
    </servlet-mapping>
    
    <!-- 3 -->
    <servlet>
        <servlet-name>RequestHeaderExample</servlet-name>
        <servlet-class>by.bsu.restaurant.control.servlet.RequestHeaderExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestHeaderExample</servlet-name>
        <url-pattern>/hello3</url-pattern>
    </servlet-mapping>
    
    <!-- 4 -->
    <servlet>
        <servlet-name>RequestInfo</servlet-name>
        <servlet-class>by.bsu.restaurant.control.servlet.RequestInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestInfo</servlet-name>
        <url-pattern>/hello4</url-pattern>
    </servlet-mapping>
    
    <!-- 5 -->
    <servlet>
        <servlet-name>RequestParamExample</servlet-name>
        <servlet-class>by.bsu.restaurant.control.servlet.RequestParamExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestParamExample</servlet-name>
        <url-pattern>/hello5</url-pattern>
    </servlet-mapping>
    
     <!-- 6 -->
    <servlet>
        <servlet-name>SessionExample</servlet-name>
        <servlet-class>by.bsu.restaurant.control.servlet.SessionExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionExample</servlet-name>
        <url-pattern>/hello6</url-pattern>
    </servlet-mapping>
    
</web-app>  